# Auto detect text files and perform LF normalization
* text=auto
*.pbix filter=lfs diff=lfs merge=lfs -text
*.pbit filter=lfs diff=lfs merge=lfs -text
1_data/raw/*.csv filter=lfs diff=lfs merge=lfs -text
1_data/processed/*.csv filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
